body {
	background: white;
	display: flex;
	flex-direction:column;
}

#logo {
	flex: 2 1 20rem;
	font-size: 3rem;
	color: white;
}

#Forum a {
	text-align: right-side;
	color: white;
	font-size: 2rem;
}

a {
	color: #0A0A00;
	text-decoration: none;
	font-size: 2rem;
}

.main-head {
	background: #00008b;
	color: #000000;
	border-bottom: 1px dashed #000000;
	
}

.main-head nav ul a {
	color: #ffffff;
	text-decoration: none;
}

nav {
	min-height:1vh;
	display: flex;
	align-items: center;
	width: 90%;
	margin: auto;
	padding: 2rem;
	flex-flow: wrap;
}

nav ul {
	display:flex;
	flex: 1 1 80rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	flex-flow: wrap;
}

@media only screen and (max-width:500px) {
	nav ul {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: left;
	}
}

nav ul li {
	height: 30px;
	margin-bottom: 20px;
}

#nav-bar {
	display:flex;
	margin-bottom:auto;
}

.content {
	margin-top: 5rem;
	margin-bottom: 10rem;
	text-align: center;
	flex-grow: 1;
	color: red;
}
.Contenu {
	margin-top: 5rem;
	margin-bottom: 10rem;
	text-align: center;
	min-height: 25vh;
}

#Nom {
	color: #805b00;
	flex: 2 1 1rem;
	font-size: 4rem;
	text-decoration: none;
}

#MDP {
	color: #805b00;
	flex: 2 1 1rem;
	font-size: 4rem;
	text-decoration: none;
}


.foot-page {
	background: #00008b;
	color: #000000;
	border-bottom: 1px dashed #000000;
}

.foot-page ul a {
	color: #2DDF00;
	text-decoration: none;
	height: 10px;
}

ul {
	display: flex;
	flex: 1 1 3rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	flex-flow: wrap;
}

